canvas{
    background-color: #010107;
    display: block;
    margin: 0 auto;




}


#score {
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    text-shadow: 5px 10px 18px rgba(0, 0, 0, 0.6);
    color: #cc0099;
}
body{
    background-image: url("../retro.jpg");
    background-repeat: no-repeat;


    background-size: cover;
align-items: center;
    align-content: center;


}


*{
    margin: 0;
    padding: 0;
}
.navbar {
    width: 100%;
    overflow: auto;
    font-family: 'Press Start 2P', cursive;
    
    
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color:#f011cb;
  }
  
  
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }