
body{
  background-image: url(../assets/img/whack/retro.png);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

 


} 

.navbar {
  width: 100%;
  background-color:#1a1f66;
  overflow: auto;
  font-family: 'Press Start 2P', cursive;
  
  
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

#endScreen{
  position: absolute;
  z-index: 101;
  background-color:rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display:none;
 

}

#endScreen button {
  color: #189aa2;
  font-size: 15px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 2px black, 3px 3px white;
  box-shadow: 4px 6px 3px #beb4b4;
}

#endScreenContent {
  position:absolute;
  top:50%;
  margin:0 auto;
  text-align: center;
  left:40%;

}

#endScreen h2{
  color: #91bec0;
  font-size: 25px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 2px black, 3px 3px white;

}

#endScreen a{
 background-color : black;
}

h1 {
  margin:40px;
  font-size: 60px;
    font-weight: bold;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color:#1a1f66;
    text-rendering: optimizeLegibility;
    animation: glow 1.9s linear   infinite;
  
}

@keyframes glow {
  0% {
    text-shadow: 0 0 2px rgb(218, 51, 190);
  }
  50% {
    text-shadow: 0 0 16px rgb(219, 56, 211);
  }
  100% {
    text-shadow: 0 0 2px rgb(240, 112, 234);
  }
}

#playbtn {
  position:absolute;
  height:40px;
  width:120px;
  background:#189aa2;
  border-radius:6px;
  font-size:20px;
  color:#1a1f66;
  font-style: bold;
  text-align:center;
  text-shadow: 2px 2px rgb(122, 117, 117);
  font-family:'Press Start 2P', cursive;
  box-shadow: 4px 6px 3px #beb4b4;
  margin-left: 550px;
  margin-top:-75px;
}

Button:active{
  -webkit-transition: width .7; /*Safari*/
  transition: width .7s;
  background:#189aa2;
  box-shadow: 3px 5px 10px #888888;
  height:49px;
  color:#777;
 
}


h3{
  font-size: 25px;
  box-sizing: border-box;
  width: 200px;
  height: 110px;
  border-radius:6px;
  color:#1a1f66;
  font-style: bold;
  text-align:center;
  font-family:'Press Start 2P', cursive;
  box-sizing: border-box;
  border-radius: 40px 40px 0 0;
  margin-top: -20px;
  margin-left:50px;
  box-shadow:
  inset -20px 0 80px rgb(132, 209, 214),
  inset -20px 0 300px rgb(95, 224, 233),
  0 0 50px #fff,
  10px 0 80px rgb(172, 216, 219);
  animation: glow 1.9s linear   infinite;

}


.container {
  width: 600px;
  margin: auto;
  cursor: url(../assets/img/whack/ham1.png), auto;
  margin-top:-280px;

 

}

.container:active {
  cursor: url(../assets/img/whack/ham2.png), auto;
}

.hole {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  float: left;
}

.hole::after {
  content: '';
  display: block;
  width: 200px;
  height: 200px;
  background: url(../assets/img/whack/planet.png) bottom center no-repeat;
  background-size: 80%;
  position: absolute;
  bottom: -70px;
  opacity: 0.8;
}

.rat {
  width: 100%;
  height: 100%;
  background: url(../assets/img/whack/alien1.png) bottom center no-repeat;
  background-size: 50%;
  position: absolute;
  top: 100px;
  transition: top 0.2s;
  opacity: 0.7;
}

.hole.up .rat {
  top: -70px;
}

img{
  width:120px;
  height: 120px;
  margin-left: 50px;
  margin-top:50px;
  animation: bounce 0.4s infinite alternate;
  -webkit-animation: bounce 0.4s infinite alternate;
  opacity: 0.8;
}


@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-25px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-25px);
  }
}
  
 


.img2{
  width: 150px;
  height: 150px;
  margin-top: -80px;
  padding-bottom: 50px;
  animation: rotation 6s infinite linear;
  opacity: 0.6;
 
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

p{
  font-size: 30px;
  margin-left: 450px;
  color:#189aa2;
  font-family:'Press Start 2P', cursive;
  text-shadow: 2px 2px black, 3px 3px white;
}

@media screen and (max-width: 560px) {
  .navbar a {
    float: none;
    display: block;
  }
  
 
  .button{
   margin:auto;
  }

.container{
  
  width: 100%;
  height: 100vh;
  margin-top:0;
}
  

  h1{
    margin-top:-130px;
    font-size: 30px;
  }

  p{
    margin:130px;
    margin-top:-20px;
    font-size: 2Opx;
 

   
  }

  button{
    margin:100px;
    margin-top:-100px

    
  }
  img {
    opacity: 0;
  }

  h3{
    margin-top:-250px;
    font-size:13px;
    width: 100px;
    height: 60px;
  }

  .img2{
    opacity: 0;
  }

  .hole{
    width: 30%;
  }
  .hole::after {
    background-size: 80%;
    background-position:bottom;
  }

  .hole.up .rat {
    top: -70px;
  }
  

  
} 
