canvas{
    background-image: url("canvas.jpg");
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;

    background-size: cover;


}


#score {
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    text-shadow: 5px 10px 18px rgba(0, 0, 0, 0.6);
}
body{
    background-image: url("retro.jpg");
    background-repeat: no-repeat;


    background-size: cover;
align-items: center;
    align-content: center;


}


*{
    margin: 0;
    padding: 0;
}
