* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #163B6F;
}

.memory-game {
    width: 640px;
    height: 640px;
    display: flex;
    border: 2px solid lime;
}

.memory-card {
    border: 2px solid aqua;
}

.front-face,
.back-face {
    border: 2px solid deeppink;
}