body{

}
*{
    margin: 0;
    padding: 0;
}
.loading{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.text-blink{
    animation: blink .7s ease-in-out .1s;
}
@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: .2;
    }
    100%{
        opacity: 1;
    }

}
.percent{
    color: #999;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
}
.progress-bar{
    width: 406px;
    height: 21px;
    background-color: #111;
    border-radius: 13px;
    padding: 3px;
    box-sizing: border-box;
}
.progress{
    width: 200px;
    height: 15px;
    background: #f011cb;
    border-radius: 13px;
}

.navbar {
    width: 100%;
    background-color:black;
    overflow: auto;
    font-family: 'Press Start 2P', cursive;
    
    
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color:#f011cb;
  }
  
  
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }