body {
    background: url(./images/background-retro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Press Start 2P", cursive;
    color: white;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
    width: 300px;
    height: 300px;
    background-color: black;
}

.grid div {
    width: 20px;
    height: 20px;
}

.shooter {
    background: url(./images/new-space-ship-20x20.png);
}

.invader {
    background: url(./images/alien-invader-20x20.png);
}

.boom {
    background: url(./images/explosion20x20.png);
}

.laser {
    background: url(./images/bullets-20x20.png);
}

.buttons {
    display: inline-block;
    vertical-align: middle;
    background: white;
    color: black;
    font-size: 10px;
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    text-align: left;
    border: 1px solid black;
    box-shadow: 2px 2px black, 3px 3px white;
    padding: 2px;
    margin-top: 10px;
    cursor: pointer;
}

.buttons:active {
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 3px black, 0px 3px white;
    transform: translateY(2px) translateX(2px);
}

.buttons:active {
    color: black;
}

#controls {
    text-align: center;
}

#controls p {
    margin: 0;
}

#controls p:nth-child(2) {
    font-size: 12px;
}

#controls p:nth-child(3) {
    font-size: 13px;
}

#controls p:nth-child(4) {
    font-size: 14px;
    text-indent: 1em;
}

#controls p:nth-child(5) {
    font-size: 15px;
}